body, h1, h2, p, ul {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Trirong", serif;
    color: white;
    background-image: url('bg.avif');
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.1); 
    background-repeat: no-repeat;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    margin: auto;
}

header h1 {
    margin-left: 45%;
    
}

header h1:hover{
    color: skyblue;
    cursor: pointer;
}

nav ul {
    list-style: none;
    margin-left: 33%;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    position :relative;
    text-decoration: none;
    color: #fff;
    transition: all .5s linear;
}
nav a:hover{
    color: skyblue;
    cursor: pointer;
}

a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: skyblue; 
    transition: width 0.3s ease; 
  }
  a:hover::before {
    width: 100%; 
  }
#home h2{
    margin-top: 4rem;
    font-size: 4rem;
    margin-left: 20rem;
    text-shadow: 10px 10px 10px black;
}
#home p{
    margin-left: 15rem;
    font-size: 25px;
}

#about{
    margin-top: 80px;
   font-size: large;
}
.cta-button {
    margin :10px;
    display: inline-block;
    padding: 10px 40px;
    background-color: lightgrey;
    color: black;
    text-decoration: none;
     font-weight: bold;
    border-radius: 30px;
    border: 1px solid skyblue;
    transition: background-color .3s linear;
    box-shadow: 5px 5px 15px ;
}
.cta-button:hover {
    background-color: #555;
    color: white;
}
.btn{
    margin-left: 32rem;
}
.footer {
    margin-top:  1.5rem;
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

/* Responsive media queries */
@media screen and (max-width: 768px) {
    header {
        text-align: center;
    }

    nav ul {
        text-align: center;
        margin-top: 10px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
